{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block script %}
	<link rel="stylesheet" href="../static/css/login.css">
	<link rel="stylesheet" href="../static/css/style copy.css">
	
	<style>
		.invisible-button {
            display: none;
        }
	</style>
{% endblock script %}

{% block body %}
<h2>The Process Begins!</h2>
</div>
<div class="loading">
	<div class="image">
		<img src="../static/resources/loading-gif.webp" alt="LOGO">
	</div>
</div>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/upload/{{username}}" method="POST" enctype="multipart/form-data">
			<h1>Start Messaging</h1>
			<input type="file" name="file" />
			<button>Upload</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/create_table/{{username}}" method="POST">
			<h1>Create a form</h1>
			<input type="text" id="email" name="ffile" placeholder="Name of the file" required />
			<button>Start</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Send Messages!</h1>
				<p>To enjoy our services with us please upload the csv file</p>
				<button class="ghost" id="signIn">Start</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Create File!</h1>
				<p>Start with creating a form with a corresponding file and start your journey with us</p>
				<button class="ghost" id="signUp">To Upload</button>
			</div>
		</div>
	</div>
	<!-- {% if please_click_me %}
		<button href='/tables/{{username}}' class="invisible-button" id="clickclcl">Click Me</button>	
		<script>
			var button = document.getElementById('clickclcl');
			button.addEventListener('click', function () {
				window.location.href = '/tables/{{username}}';
			});
		</script>
		{% endif %} -->
	</div>
	
	<script>
		window.onload = function () {
			const signUpButton = document.getElementById('signUp');
			const signInButton = document.getElementById('signIn');
			const container = document.getElementById('container');
			if (signUpButton) {
				signUpButton.addEventListener('click', () => {
					container.classList.add("right-panel-active");
				});
			}
			if (signInButton) {
				signInButton.addEventListener('click', () => {
					container.classList.remove("right-panel-active");
				});
			}
		}
	</script>

	{% if error %}
		<script> alert("{{error}}"); </script>
	{% endif %}
	
	{% if table_exists %}
		<script> alert("{{table_exists}}. Try a new table name"); </script>
	{% endif %}

	{% endblock body %}